<h3 class="offset-1 col-3 mt-5 text-center ">商品新規登録</h3>

<div class="col-8 offset-2 mt-5">
  <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
    <div class="form-inline row">
      <%= f.label :商品画像, class: "col-4" %>
      <%= f.attachment_field :image, class: "col-8" %>
    </div>

    <div class="form-inline row mt-3">
      <%= f.label :商品名, class: "col-4" %>
      <%= f.text_field :name, placeholder: "商品名", class: "form-control col-8" %>
    </div>

    <div class="form-inline row mt-3">
      <%= f.label :商品説明, class: "col-4" %>
      <%= f.text_area :description, placeholder: "ここに説明文を記述します", class: "form-control col-8", rows: "6" %>
    </div>

    <div class="form-inline row mt-3">
      <%= f.label :ジャンル, class: "col-4" %>
      <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "--選択してください--", class: "col-8" %>
    </div>

    <div class="form-inline row mt-3">
      <%= f.label :税抜価格, class: "col-4" %>
      <%= f.text_field :tax_encluded_price, placeholder: "1000", class: "form-control col-7" %>円
    </div>

    <div class="form-inline row mt-3">
      <%= f.label :販売ステータス, class: "col-4" %>
      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active, "販売中" %>
      <%= f.radio_button :is_active, :false, class: "ml-3" %>
      <%= f.label :is_active, "販売停止中" %>
    </div>

    <div class="text-center mt-4">
      <%= f.submit "新規登録", class: "btn btn-success", style: "width:150px" %>
    </div>
  <% end %>
</div>
