<h4 class="offset-2 mt-5">管理者ログイン</h4>

<div class="col-8 offset-2 mt-5">
<%= form_with model:@admin, url: admin_session_path, local: true do |f| %>
  <div class="form-inline row">
    <%= f.label :email,"メールアドレス", class: "col-4" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control col-8" %>
  </div>

  <div class="form-inline row mt-3">
    <%= f.label :password,"パスワード", class: "col-4" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-8" %>
  </div>

  <div class="text-center mt-5">
    <%= f.submit "ログイン", class: "btn btn-primary", style: "width:150px" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>

</div>
