<h3>新規会員登録</h3>

<%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>


  <div class="row form-group pt-3">
    <div class="col-md-3"><%= f.label :名前 %></div>
    <div class="col-md-1"><%= f.label :last_name, "(姓)" %></div>
    <div class="col-md-3"><%= f.text_field :last_name, autofocus: true, placeholder:"令和" ,class:"form-control"%></div>
    <div class="col-md-1"><%= f.label :first_name, "(名)" %></div>
    <div class="col-md-3"><%= f.text_field :first_name, autofocus: true, placeholder:"道子" ,class:"form-control"%></div>
  </div>

  <div class="row form-group">
    <div class="col-md-3"><%= f.label :フリガナ %></div>
    <div class="col-md-1"><%= f.label :last_name_kana, "(セイ)" %></div>
    <div class="col-md-3"><%= f.text_field :last_name_kana, autofocus: true, placeholder:"レイワ" ,class:"form-control"%></div>
    <div class="col-md-1"><%= f.label :first_name_kana,"(メイ)" %></div>
    <div class="col-md-3"><%= f.text_field :first_name_kana, autofocus: true, placeholder:"ミチコ" ,class:"form-control"%></div>
  </div>

  <div class="row form-group">
    <div class="col-md-3"><%= f.label :email, "メールアドレス" %></div>
    <div class="col-md-8"><%= f.email_field :email, autofocus: true, placeholder:"sample@example.com" ,class:"form-control"%></div>
  </div>

  <div class="row form-group">
    <div class="col-md-3"><%= f.label :post_code, "郵便番号(ハイフンなし)" %></div>
    <div class="col-md-8"><%= f.text_field :post_code, autofocus: true, placeholder:"0000000",class:"form-control" %></div>
  </div>

  <div class="row form-group">
    <div class="col-md-3"><%= f.label :address, "住所" %></div>
    <div class="col-md-8"><%= f.text_field :address, autofocus: true, placeholder:"東京都渋谷区代々木神園町0-0" ,class:"form-control"%></div>
  </div>

  <div class="row form-group">
    <div class="col-md-3"><%= f.label :phone_number, "電話番号(ハイフンなし)" %></div>
    <div class="col-md-8"><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" ,class:"form-control"%></div>
  </div>

  <div class="row form-group">
    <div class="col-md-3">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
    </div>
    <div class="col-md-8"><%= f.password_field :password, autocomplete: "new-password" ,class:"form-control"%></div>
  </div>

  <div class="row form-group">
    <div class="col-md-3"><%= f.label :password_confirmation, "パスワード(確認用)"  %></div>
    <div class="col-md-8"><%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"form-control"%></div>
  </div>


  <div class="col offset-3">
    <%= f.submit "新規登録" ,class:"btn btn-success",style:"width:150px"%>
  </div>
<% end %>

<h3 class="mt-5">既に登録済みの方</h3>
<p><%= link_to "こちら",new_customer_session_path %></u>からログインしてください。</p>
