<h1>注文情報確認</h1>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>イチゴのショートケーキ</td>
      <td>1,100円</td>
      <td>1</td>
      <td>1,100</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <th>送料</th>
      <td>800</td>
    </tr>
    <tr>
      <th>商品合計</th>
      <td>1,760</td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td>2,560</td>
    </tr>
  </tbody>
</table>

<h2>支払方法</h2>
<p><%= @order.payment_method %></p>

<h2>お届け先</h2>
<p><%= @order.連結 %></p>
<%= form_with url:, model: Order.new do |f| %>
  <%= f.hidden_field :name, value: @order.name %>
  <%= f.hidden_field :address, value: @order.address %>
  <%= f.hidden_field :post_code, value: @order.post_code %>
  <%= f.hidden_field :total_price, value: @order.total_price %>
  <%= f.hidden_field :payment_method, value: @order.payment_method %>
  <%= f.submit "注文を確定する" %>
<% end %>