<h3>ログイン</h3>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="mt-5 mb-3"><h7>会員の方はこちらからログイン</h7></div>
  
<%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
  <div class="form-group row pb-3">
    <div class="col-4"><%= f.label :email, "メールアドレス" %></div>
    <div class="col-8"><%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control"%></div>
  </div>

  <div class="form-group row pb-3">
    <div class="col-4"><%= f.label :password, "パスワード" %></div>
    <div class="col-8"><%= f.password_field :password, autocomplete: "current-password" ,class:"form-control"%></div>
  </div>

  <div class="actions col-8 offset-4">
    <%= f.submit "ログイン" ,class:"btn btn-primary"%>
  </div>
<% end %>

<div class="pt-5">
  <p>会員登録がお済みでない方<p>
  <p><%= link_to "こちら",new_customer_registration_path %></u>から新規登録してください。</p>
</div>
