<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="fixed-top" style="height:110px;">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">

          <div><%= link_to image_tag("logo7.png",size: "220x85"), root_path, class: "navbar-brand text-light" %></div>
          <!--logo6,7はsixe:220x85-->
          <!--logo5はsize:130x100-->
          <!--logo4はsize:110x110-->

          <!--naviボタン-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!--ボタンの中に隠す要素 任意のidを指定する-->
          <div class="collapse navbar-collapse" id="navbar">
            <div class="ml-auto">
              <ul class="navbar-nav">

                <% if admin_signed_in? %>
                  <li class="ml-auto">
                    <%= link_to admin_items_path, class:"nav-link text-dark border border-white rounded m-1 p-1" do %>
                      <i class="fas fa-cookie-bite"></i><span>商品一覧</span>
                    <%end%>
                  </li>
                  <li class="ml-auto">
                    <%= link_to admin_customers_path ,class:"nav-link text-dark border border-white rounded m-1 p-1" do %>
                      <i class="fas fa-address-book"></i></i><span>会員一覧</span>
                    <%end%>
                  </li>
                  <li class="ml-auto">
                    <%= link_to admin_root_path,class:"nav-link text-dark border border-white rounded m-1 p-1" do %>
                      <i class="fas fa-shopping-cart"></i><span>注文履歴一覧</span>
                    <%end%>
                  </li>
                  <li class="ml-auto">
                    <%= link_to admin_genres_path ,class:"nav-link text-dark border border-white rounded m-1 p-1" do %>
                      <i class="fas fa-thumbtack"></i><span>ジャンル一覧</span>
                    <%end%>
                  </li>
                  <li class="ml-auto">
                    <%= link_to destroy_admin_session_path, method: :delete ,class:"nav-link text-dark border border-white rounded m-1 p-1" do %>
                      <i class="fas fa-sign-out-alt"></i><span>ログアウト</span>
                    <%end%>
                  </li>

                <% else %>

                  <li class="ml-auto">
                    <%= link_to about_path ,class:"nav-link text-dark border border-white rounded m-1 p-1" do %>
                      <i class="fas fa-home" ></i><span>About</span>
                    <%end%>
                  </li>
                  <li class="ml-auto">
                    <%= link_to items_path ,class:"nav-link text-dark border border-white rounded m-1 p-1" do %>
                      <i class="fas fa-cookie-bite"></i><span>商品一覧</span>
                    <%end%>
                  </li>
                  <li class="ml-auto">
                    <%= link_to new_customer_registration_path ,class:"nav-link text-dark border border-white rounded m-1 p-1" do %>
                      <i class="fas fa-user-plus"></i><span>新規登録</span>
                    <%end%>
                  </li>
                  <li class="ml-auto">
                    <%= link_to new_customer_session_path ,class:"nav-link text-dark border border-white rounded m-1 p-1" do %>
                      <i class="fas fa-sign-in-alt"></i><span>ログイン</span>
                      <%end%>
                  </li>

                <% end %>
              </ul>

              <ul class="navbar-nav mt-1">
                <li class="ml-auto">
                  <% if admin_signed_in? %>
                    <%= render "admin/searches/form" %>
                  <% end %>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </nav>

    </header>

    <main style="padding-top:110px; margin-bottom:50px;">
      <div class="container p-3">
        <p class="text text-success"><%= notice %></p>
        <p class="text text-danger"><%= alert %></p>
        <%= yield %>
      </div>
    </main>

    <footer class="fixed-bottom" style="height:50px;">
    </footer>

  </body>
</html>
