<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= link_to customer_registration_path, method: :delete ,class:"nav-link text-light" do%>
                    <i class="fas fa-sign-out-alt"></i><span>ログアウト</span>
                  <%end%>
    <%= yield %>
  </body>
</html>
